/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
input {
  margin: 4px;
}
.btn {
  margin: 0.25rem 0rem 0.25rem 8rem;
}
.dflex {
  display: flex;
  justify-content: center;
}
p {
  text-align: center;
}
.row {
  margin: 8rem 19rem 8rem 35rem;
}
