/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
input {
  margin: 4px;
}
.btn {
  margin: 1.25rem 0rem 0.25rem 8rem;
  background-color: #2b8f00;
}
.dflex {
  display: flex;
  justify-content: center;
}
p {
  text-align: center;
}
.col-4 {
  margin: 8rem 19rem 8rem 35rem;
  border: solid #2b8f00;
}
